form{
    max-width: 320px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input{
    width: 100%;
}
.form-group-line{
    display: flex;
    gap: .5rem;
}